{% extends 'base.html.twig' %}

{% block title %}Mes Voitures
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h1>Mes Voitures</h1>
			{% if is_granted('ROLE_CHAUFFEUR') %}
				<a href="{{ path('app_voiture_new') }}" class="btn btn-primary">
					<i class="fas fa-plus-circle me-2"></i>Ajouter une voiture
				</a>
			{% endif %}
		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endfor %}

		{% if voitures is not empty %}
			<button class="btn btn-outline-secondary mb-3" onclick="window.print()">
				<i class="fas fa-print"></i> Imprimer la liste de mes voitures
			</button>
			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<thead class="table-light">
						<tr>
							<th>Marque</th>
							<th>Modèle</th>
							<th>Immatriculation</th>
							<th>Couleur</th>
							<th>Énergie</th>
							<th class="text-end">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for voiture in voitures %}
							<tr>
								<td>{{ voiture.marque.libelle }}</td>
								<td>{{ voiture.modele }}</td>
								<td>{{ voiture.immatriculation }}</td>
								<td>{{ voiture.couleur }}</td>
								<td>{{ voiture.energie }}</td>
								<td class="text-end">
									<a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}" class="btn btn-sm btn-secondary">
										<i class="fas fa-edit"></i>
										Modifier</a>
									<form method="post" action="{{ path('app_voiture_delete', {'id': voiture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette voiture ?');" class="d-inline">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voiture.id) }}">
										<button class="btn btn-sm btn-danger">
											<i class="fas fa-trash"></i>
											Supprimer</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div class="alert alert-info" role="alert">
				<h4 class="alert-heading">Aucune voiture enregistrée !</h4>
				<p>Il semble que vous n'ayez pas encore ajouté de véhicule à votre profil.</p>
				<hr>
				{% if is_granted('ROLE_CHAUFFEUR') %}
					<p class="mb-0">Pour proposer un covoiturage, commencez par ajouter une voiture en cliquant sur le bouton ci-dessus.</p>
				{% else %}
					<p class="mb-0 text-danger">Pour proposer un covoiturage, vous devez d'abord devenir chauffeur dans votre profil.</p>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock %}
