{# Supposons que ce fichier soit templates/covoiturage/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Covoiturages
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Covoiturages Disponibles</h1>

		{% if covoiturages is defined and covoiturages|length > 0 %}
			<div class="row">
				{% for covoiturage in covoiturages %}
					<div class="col-md-6 col-lg-4 mb-4">
						<div class="card">
							<div class="card-body">
								<h5
									class="card-title">
									{# un lien vers détails du trajet #}
									<a href="{{ path('app_covoiturage_show', {'id': covoiturage.id}) }}">
										Trajet de
										{{ covoiturage.lieuDepart }}
										à
										{{ covoiturage.lieuArrivee }}
									</a>
								</h5>
								<p class="card-text">
									Le
									{{ covoiturage.dateDepart ? covoiturage.dateDepart|date('d/m/Y') : 'N/A' }}
									à
									{{ covoiturage.heureDepart ? covoiturage.heureDepart|date('H:i') : 'N/A' }}
								</p>
								<p class="card-text">
									Prix:
									{{ covoiturage.prixPersonne|number_format(2, ',', ' ') }}
									€
								</p>
								<p class="card-text">
									Places restantes:
									{{ covoiturage.nbPlaceRestantes }}
								</p>
								{# Lien alternatif sous forme de bouton #}
								<a href="{{ path('app_covoiturage_show', {'id': covoiturage.id}) }}" class="btn btn-sm btn-outline-primary">
									Voir les détails
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>Aucun covoiturage disponible pour le moment.</p>
		{% endif %}
	</div>
{% endblock %}
